@page
@model RazorPageTask.Pages.Category.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Category List </h2>
        </div>
        <div class="col-6 text-end">
            <input type="text" placeholder="Search" />
            <button type="button" class="btn btn-info" onclick="searchData()"> Search </button>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped text-center" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var items in Model.Categories)
        {
            <tr>
                <td> @items.Name </td>
            </tr>
        }
    </tbody>
</table>